/* 스크롤/하이라이트 개선 */
html, body {
  height: 100%;
  height: 100dvh;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overscroll-behavior: none; /* ios Safari 바운스 스크롤 방지 */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Pacifico, Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}